.movement {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: -1;
  width: 100%;
}
.movement-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.movement-image-text {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 30px !important;
  font-family: "Poppins", sans-serif;
}
.movement-heading-text {
  margin-bottom: 20px;
}
.movement-text {
  max-width: 500px;
  width: 80vw;
  margin: auto;
  padding: auto 20px;
}
