.believe {
  width: 100%;
  height: fit-content;
  background-color: white;
  padding-top: 50px;
  position: relative;
  z-index: -1;
}
.believe-box-container {
  display: flex;
  padding-top: 50px;
  /* padding-top: 30px; */
  margin: auto;
  /* grid-template-columns: repeat(5, 1fr); */
}
.believe-box {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  text-align: center;
  align-items: center;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 30px !important;
}
.center-text {
  /* margin-top: 60px !important; */
  font-size: 13px;
}
.believe-box:nth-child(1) {
  background-color: #c4c4c4;
}
.believe-box:nth-child(2) {
  background-color: #8a2323;
}
.believe-box:nth-child(3) {
  background-color: #ed862e;
}
.believe-box:nth-child(4) {
  background-color: #73b242;
}
.believe-box:nth-child(5) {
  background-color: #530e64;
}

/* @media screen and (max-width: 820px) {
  .believe-box-container {
    justify-content: center;
    display: grid;
    padding-top: 30px;
    margin: auto 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .believe-box {
    margin-right: 10px;
  }
} */
